# VS
.vscode
# binaries
*.so
# ONNX models not checked by default:
*.onnx
# test binaries
*test
# numpy arrays
*.npy
*.npz
*.png
*.csv
*.root
/docs/
data
data/*
models
models/*
tf
tf/*
__pycache__
__pycache__/*
